<mat-toolbar color="primary" class="mat-elevation-z2">
  <mat-toolbar-row class="mat-elevation-z2">
    <button mat-icon-button class="action" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>D&P HR PORTAL</span>
    <span class="spacer"></span>
    <mat-form-field class="search">
      <mat-label>Search</mat-label>
      <input type="text" matInput placeholder="Search" />
      <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
    </mat-form-field>

    <button mat-icon-button class="errors" *ngIf="errors.length">
      <mat-icon [matBadge]="errors.length" matBadgeColor="warn" color="error">warning</mat-icon>
    </button>

    <!-- <div mat-menu-item *ngIf="profile$ | async as profile">{{ profile['displayName'] }}</div> -->
    <ng-container *ngIf="profile$ | async as profile">
        <div *ngIf="image$ | async as image"> 
          <img *ngIf='image  !== "onError"' class="user-image" [src]='image'>
          <span class="avatar" *ngIf='image === "onError"'>{{profile['displayName'] | avatar }}</span>
        
        </div>

    </ng-container>
    

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
      <!-- <div mat-menu-item *ngIf="profile$ | async as profile">{{ profile['displayName'] }}</div> -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </button>


    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
