::ng-deep .mat-toolbar.mat-primary{
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    width: 100vw !important;
    height: 100%;
}

.search{
    margin-right: 2rem;
    color: #c6dafc;
    font-size: 0.9rem;
}

::ng-deep .mat-badge-content.mat-badge-active{
    right: -10px !important;
    top: -10px !important;
    background: none !important;
    color: red;
    font-size: 0.7rem;
}

.user-image{
    height: 2rem;
    border-radius: 50%;
}

.avatar{
    border: 1px solid white;
    padding: 0.2rem;
    background: white;
    color: #4284f4;
    border-radius: 50%;
    font-size: 1rem;
}