<mat-drawer-container id='container' fullscreen>
    <mat-drawer class="mat-elevation-z2" #drawer mode="side" opened>
        <a class="navItem" 
            [ngClass]="{active: item.active}"
            *ngFor='let item of navItems' 
            [routerLink]='item.route' >
            <mat-icon color='accent'>{{item.icon}}</mat-icon> 
            <div class="text">{{item.text}}</div>
        </a>
    
    </mat-drawer>
    <mat-drawer-content class="content">
            <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>